Gs-Iot/flowNodegs.json
[
    {
        "id": "0b67ae13f680fcfd",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "513d9c1ab99936ce",
        "type": "mqtt in",
        "z": "0b67ae13f680fcfd",
        "name": "",
        "topic": "gs-iot-eduarda",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e2facd18f89b0cd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 320,
        "wires": [
            [
                "720ae6fa6e58a3d8"
            ]
        ]
    },
    {
        "id": "b08f711b6ed88a8d",
        "type": "change",
        "z": "0b67ae13f680fcfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.estado",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "14d56eb77bbba664"
            ]
        ]
    },
    {
        "id": "532c250359696e50",
        "type": "change",
        "z": "0b67ae13f680fcfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mensagem",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "45efd727e4818478"
            ]
        ]
    },
    {
        "id": "720ae6fa6e58a3d8",
        "type": "function",
        "z": "0b67ae13f680fcfd",
        "name": "function 1",
        "func": "\nmsg.payload.mensagem = \"a criança esta sozinha\"\nif(msg.payload.estado == 0){\n    msg.payload.mensagem = \"a criança não esta sozinha\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 320,
        "wires": [
            [
                "b08f711b6ed88a8d",
                "532c250359696e50"
            ]
        ]
    },
    {
        "id": "45efd727e4818478",
        "type": "ui_text",
        "z": "0b67ae13f680fcfd",
        "group": "dd632e009e9df90a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "14d56eb77bbba664",
        "type": "ui_gauge",
        "z": "0b67ae13f680fcfd",
        "name": "",
        "group": "dd632e009e9df90a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "esta sozinha",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "e2facd18f89b0cd9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-dashboard.com",
        "port": "1883",
        "clientid": "clientId-xoGs7BEAD7",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dd632e009e9df90a",
        "type": "ui_group",
        "name": "Criança",
        "tab": "4c3eacea86af818a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4c3eacea86af818a",
        "type": "ui_tab",
        "name": "Eduardo",
        "icon": "temp",
        "disabled": false,
        "hidden": false
    }
]